<div>
  <div *ngIf="workouts.length === 0">
    <mat-card class="no-workouts">
      <mat-card-header>
        <mat-card-title class="title">
          No completed workouts found
        </mat-card-title>
        <mat-card-subtitle>
          To complete a workout go to the list and add it to your list of
          completed no-workouts
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-actions>
        <a mat-button routerLink="/workoutlist">Go to workouts</a>
      </mat-card-actions>
    </mat-card>
  </div>
  <mat-accordion>
    <div *ngFor="let workout of workouts; index as i">
      <app-workout-completed [workout]="workout"> </app-workout-completed>
    </div>
  </mat-accordion>
</div>
