<mat-accordion class="accordion">
  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title> Add exercise to workout </mat-panel-title>
      <mat-panel-description>
        Add an exercise to the excisting workout
      </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-form-field class="full-width">
      <input
        type="text"
        matInput
        placeholder="Exercise name"
        class="full-width"
        [(ngModel)]="exercise"
      />
    </mat-form-field>

    <mat-form-field class="full-width">
      <input
        type="text"
        matInput
        placeholder="Description"
        class="full-width"
        [(ngModel)]="exerciseDescription"
      />
    </mat-form-field>
    <mat-form-field class="full-width">
      <input
        type="number"
        matInput
        placeholder="Number of sets"
        class="full-width"
        [(ngModel)]="set"
      />
    </mat-form-field>

    <mat-form-field class="full-width">
      <input
        type="number"
        matInput
        placeholder="Number of reps or time"
        class="full-width"
        [(ngModel)]="reps"
      />
    </mat-form-field>
    <button mat-stroked-button color="primary" (click)="addExerciseToWorkout()">
      Add exercise
    </button>
  </mat-expansion-panel>
</mat-accordion>
