<div>
  <div *ngIf="workouts.length === 0">
    <mat-card class="no-workouts">
      <mat-card-header>
        <mat-card-title class="title"> No wokouts was found </mat-card-title>
        <mat-card-subtitle>
          To add some, login and create one or search for other people's
          workouts
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-actions>
        <a mat-button routerLink="/create">Create Workout</a>
      </mat-card-actions>
    </mat-card>
  </div>
  <mat-accordion>
    <div *ngFor="let workout of workouts; index as i">
      <app-workout [workout]="workout"> </app-workout>
    </div>
  </mat-accordion>
</div>
