<mat-toolbar class="navbar">
  <div>
    <a id="logo" mat-button mat-raised-button color="primary" routerLink=""
      >Workout Buddy</a
    >
  </div>
  <span class="nav-tool-items">
    <a
      *ngIf="!auth.currentUserValue"
      mat-button
      routerLink="login"
      routerLinkActive="active"
      >Log in</a
    >

    <a
      *ngIf="!auth.currentUserValue"
      mat-button
      color="primary"
      mat-raised-button
      routerLink="register"
      routerLinkActive="active"
      >Register</a
    >

    <a mat-button routerLink="workoutlist" routerLinkActive="active"
      >Workouts</a
    >

    <a
      *ngIf="auth.currentUserValue"
      mat-button
      routerLink="create"
      routerLinkActive="active"
      mat-raised-button
      color="primary"
      >Create a workout</a
    >
    <a
      *ngIf="auth.currentUserValue"
      mat-button
      routerLink="log"
      routerLinkActive="active"
      >Log of completed workouts</a
    >
    <button
      *ngIf="auth.currentUserValue"
      mat-button
      mat-raised-button
      color="primary"
      (click)="logout()"
    >
      Logout
    </button>
  </span>
</mat-toolbar>
<br />
