<h1>Velkommen til Workout Buddy.</h1>
<h2>
  På denne hjemmesiden kan du skabe dine egne workouts med selvvalgte exercises.
</h2>
<p>Under Workouts kan du se alle de workout brugere kan lavede</p>
<p>
  For at lave din egen Workout, redigere en workout eller log de workouts du har
  gennemført, skal du have skabt en bruger og være logget ind.
</p>
<p>
  Du kan bruge Register siden for at lave din bruger og Login for at logge ind
  på den.
</p>
<p>
  Når du er logget på, kan du lave din Workout ved at bruge Create Wourkout.
</p>
