<h1>Wolcome to Workout Buddy.</h1>
<h2>
  In this website you can create your own workouts with self-selected exercises.
</h2>
<p>In Workouts you can see all the workouts users can do</p>
<p>
  To create your own Workout, edit a workout or log the workouts you have
   completed, you must have created a user and be logged in.
</p>
<p>
  You can use the Register page to create your user and Login to log in
   on it.
</p>
<p>
  Once logged in, you can create your Workout using Create Wourkout.
</p>
