<mat-expansion-panel hideToggle>
  <mat-expansion-panel-header>
    <mat-panel-title>
      {{ workout.title }}
    </mat-panel-title>
  </mat-expansion-panel-header>
  <mat-panel-description>
    {{ workout.description }}
  </mat-panel-description>
  <br />
  <div *ngFor="let exercise of workout.exercises; index as i"></div>
  <mat-action-row>
    <a mat-button [routerLink]="['/workout/', workout._id]"
      >Add an exercise to workout</a
    >
    <a mat-button [routerLink]="['/workout/delete/', workout._id]"
      >Delete workout</a
    >
  </mat-action-row>
</mat-expansion-panel>
