<mat-expansion-panel hideToggle class="workout-panel">
  <mat-expansion-panel-header>
    <mat-panel-title>
      {{ workout.title }}
    </mat-panel-title>
  </mat-expansion-panel-header>
  <mat-panel-description>
    {{ workout.description }}
  </mat-panel-description>
  <br />
  <div *ngFor="let exercise of workout.exercise; index as i">
    <app-exercise [exercise]="exercise"> </app-exercise>
  </div>
  <mat-action-row>
    <button
      class="submit-button"
      *ngIf="auth.currentUserValue"
      mat-stroked-button
      (click)="addToCompletedList()"
    >
      Add this exercise to your completed list
    </button>
    <a
      *ngIf="auth.currentUserValue"
      mat-button
      [routerLink]="['/workout/', workout._id]"
      >Add an exercise to workout</a
    >
    <button
      class="submit-button"
      *ngIf="auth.currentUserValue"
      mat-stroked-button
      (click)="deleteWorkout()"
      routerLink="home"
    >
      Delete workout
    </button>
  </mat-action-row>
</mat-expansion-panel>
